[mysql]

# CLIENT #
port                           = 3306
socket                         = /var/lib/mysql/mysql.sock

[mysqld]

# GENERAL #
performance_schema		= OFF
user				= mysql
binlog_format			= ROW
default_storage_engine		= InnoDB
socket = /var/lib/mysql/mysql.sock
pid-file 			= /var/lib/mysql/mysql.pid
collation_server		= utf8_general_ci
character_set_server		= utf8
server_id			= 2
skip-name-resolve

# DATA STORAGE #
datadir 			= /var/lib/mysql

# BINARY LOGGING #
log-bin                        = /var/lib/mysql/mysql-bin
expire-logs-days               = 7
sync-binlog                    = 1

# INNODB #
innodb_flush_method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb_log_file_size           = 64M
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table          = 1
innodb_log_buffer_size         = 64M
innodb_buffer_pool_size        = 512M

# LOGGING #
slow-query-log                  = 1
long_query_time                 = 0
slow_query_log_file             = /var/log/mysql/mysql-slow.log
log-queries-not-using-indexes   = 1
log_error                       = /var/lib/mysql/mysql.err
log-warnings                    = 2

# CACHES AND LIMITS #
back_log                        = 1000
query_cache_type                = 0
query_cache_size                = 0
thread_cache_size               = 1501
max_connections                 = 1100
tmp_table_size                  = 64M
max_heap_table_size             = 128M
max_allowed_packet              = 128M
max_user_connections            = 512
join_buffer_size                = 8M
key_buffer_size                 = 16M
innodb_autoinc_lock_mode	= 2
auto_increment_increment        = 3
auto_increment_offset           = 1
slave-skip-errors               = 1062

!includedir /etc/mysql/conf.d
